*{
  margin: 0;
  padding: 0;
  
 }




.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #333; /* Change the background color as needed */
    color: #fff; /* Change text color as needed */
  }
  
  .header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Height of the first row */
  }
  
  .header > ul.nav-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #555; /* Change the background color as needed */
  }
  
  .header > ul.nav-menu > li {
    padding: 10px;
  }
  
  .header > ul.nav-menu > li > a {
    text-decoration: none;
    color: #fff; /* Change link text color as needed */
  }
  
  @media (max-width: 768px) {
    .header > div,
    .header > ul.nav-menu {
      flex-direction: column;
    }
  
    .header > ul.nav-menu > li {
      padding: 10px 0;
      text-align: center;
    }
  }
  
